.aboutMeDiv > .aboutmeContent {
    display: flex;
    color: #5b5b5b;
}

.aboutmePhotoDiv {
    padding: 4% 1% 4% 2%;
    text-align: center;
}

.aboutmePhotoDiv > p {
    padding-top: 3%;
}

.aboutmeSubTitles {
    height: 100%;
    padding: 2% 1% 2% 1%;
    margin: 4% 1% 0 0;
    font-size: 200%;
    text-align: center;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

.aboutmeSubTitles > h1 {
    text-align: center;
    padding-bottom: 5%;
}